<launch>
  <param name="/use_sim_time" value="true"/>

  <arg name="world_name" default="$(find my_gazebo_sim)/worlds/nav_obstacle_3d.world"/>
  <arg name="robot_urdf" default="$(find my_gazebo_sim)/urdf/simple_uav_depth.urdf"/>
  <arg name="model_name" default="simple_uav"/>
  <arg name="spawn_x" default="0.0"/>
  <arg name="spawn_y" default="0.0"/>
  <arg name="spawn_z" default="0.8"/>

  <arg name="cloud_topic" default="/depth_camera/depth/points"/>
  <arg name="map_topic" default="/occupancy_map"/>
  <arg name="map_frame" default="odom"/>
  <arg name="map_resolution" default="0.05"/>
  <arg name="map_width" default="400"/>
  <arg name="map_height" default="400"/>
  <arg name="map_origin_x" default="-10.0"/>
  <arg name="map_origin_y" default="-10.0"/>
  <arg name="odom_topic" default="/odom"/>
  <arg name="goal_topic" default="/move_base_simple/goal"/>
  <arg name="path_topic" default="/global_path"/>
  <arg name="cmd_topic" default="/cmd_vel"/>
  <arg name="cmd_raw_topic" default="/cmd_vel_raw"/>

  <arg name="use_3d_obstacle_avoidance" default="true"/>
  <arg name="use_rviz" default="true"/>
  <arg name="rviz_config" default="/home/lry/catkin_ws/src/my_gazebo_sim/gazebo_nav.rviz"/>

  <include file="$(find my_gazebo_sim)/launch/simple_uav_gazebo.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="robot_urdf" value="$(arg robot_urdf)"/>
    <arg name="model_name" value="$(arg model_name)"/>
    <arg name="spawn_x" value="$(arg spawn_x)"/>
    <arg name="spawn_y" value="$(arg spawn_y)"/>
    <arg name="spawn_z" value="$(arg spawn_z)"/>
  </include>

  <node pkg="my_gazebo_sim"
        type="uav_cmdvel_to_gazebo.py"
        name="uav_cmdvel_to_gazebo"
        output="screen">
    <param name="model_name" value="$(arg model_name)"/>
    <param name="cmd_topic" value="$(arg cmd_topic)"/>
    <param name="max_xy_speed" value="1.5"/>
    <param name="max_z_speed" value="1.0"/>
    <param name="max_yaw_rate" value="1.5"/>
  </node>

  <include file="$(find my_gazebo_sim)/launch/map_builder.launch">
    <arg name="cloud_topic" value="$(arg cloud_topic)"/>
    <arg name="map_topic" value="$(arg map_topic)"/>
    <arg name="map_frame" value="$(arg map_frame)"/>
    <arg name="resolution" value="$(arg map_resolution)"/>
    <arg name="width" value="$(arg map_width)"/>
    <arg name="height" value="$(arg map_height)"/>
    <arg name="origin_x" value="$(arg map_origin_x)"/>
    <arg name="origin_y" value="$(arg map_origin_y)"/>
  </include>

  <node pkg="my_gazebo_sim"
        type="astar_global_planner.py"
        name="astar_global_planner"
        output="screen">
    <param name="map_topic" value="$(arg map_topic)"/>
    <param name="odom_topic" value="$(arg odom_topic)"/>
    <param name="goal_topic" value="$(arg goal_topic)"/>
    <param name="path_topic" value="$(arg path_topic)"/>
    <param name="occupancy_threshold" value="50"/>
    <param name="unknown_is_obstacle" value="false"/>
    <param name="replan_rate" value="1.0"/>
    <param name="goal_tolerance" value="0.25"/>
  </node>

  <node pkg="my_gazebo_sim"
        type="path_follower.py"
        name="path_follower"
        output="screen">
    <param name="path_topic" value="$(arg path_topic)"/>
    <param name="odom_topic" value="$(arg odom_topic)"/>
    <param name="cmd_topic" value="$(arg cmd_raw_topic)"/>
    <param name="lookahead_dist" value="0.55"/>
    <param name="goal_tolerance" value="0.25"/>
    <param name="max_linear" value="0.8"/>
    <param name="max_angular" value="1.2"/>
    <param name="k_angular" value="1.8"/>
    <param name="rotate_in_place_thresh" value="0.75"/>
    <param name="control_rate" value="20.0"/>
  </node>

  <node if="$(arg use_3d_obstacle_avoidance)"
        pkg="my_gazebo_sim"
        type="obstacle_avoidance_3d.py"
        name="obstacle_avoidance_3d"
        output="screen">
    <param name="enabled" value="true"/>
    <param name="cmd_in_topic" value="$(arg cmd_raw_topic)"/>
    <param name="cmd_out_topic" value="$(arg cmd_topic)"/>
    <param name="cloud_topic" value="$(arg cloud_topic)"/>
    <param name="forward_distance" value="2.0"/>
    <param name="lateral_half_width" value="0.6"/>
    <param name="vertical_half_height" value="0.6"/>
    <param name="critical_distance" value="0.8"/>
    <param name="slowdown_distance" value="1.8"/>
    <param name="min_turn_rate" value="0.3"/>
    <param name="max_turn_rate" value="1.2"/>
    <param name="max_vertical_speed" value="0.8"/>
    <param name="max_linear_speed" value="1.0"/>
  </node>

  <node unless="$(arg use_3d_obstacle_avoidance)"
        pkg="topic_tools"
        type="relay"
        name="cmd_vel_passthrough"
        args="$(arg cmd_raw_topic) $(arg cmd_topic)"
        output="screen"/>

  <node if="$(arg use_rviz)"
        pkg="rviz"
        type="rviz"
        name="rviz"
        output="screen"
        args="-d $(arg rviz_config)"/>
</launch>
